<div class="win-page">
    <div class="win" id="firstLayer">
    <img class="green-circle" src="../../assets/win_lose/green_circle_win.svg">
    <div class="text-container">
        <p class="first-row"> <b>Good Job!</b></p>
        <p class="second-row ">You stopped the banks from crashing!</p>
    </div>

    <div>
    <img class="bank" src="../../assets/win_lose/bank_win.png">
    </div>

    <div>
        <img class="emoji" src="../../assets/win_lose/emoji_win.png">
        </div>

<div>
<a routerLink="/win"></a>
</div>
