<div class="lose-page">
    <div class="lose" id="firstLayer">
    <img class="red-circle" src="../../assets/win_lose/red_circle_lose.svg">
    <div class="text-container">
        <p class="first-row"> <b>Error!</b></p>
        <p class="second-row ">The economy crashed!</p>
    </div>

    <div>
    <img class="bank" src="../../assets/win_lose/bank_win.png">
    </div>

    <div>
        <img class="emoji" src="../../assets/win_lose/emoji_lose.png">
        </div>

<div>
<a routerLink="/lose"></a>
</div>
