.menu{
    position: absolute;
    left: 40%; /* Centering horizontally */
    
}

.background{
    width: 390px;
    height: 844px;
    top: 0px;
    z-index: -1;
}

.red-rec{
    width: 390px;
    height: 844px;
    top: -23%;
    z-index: 1;
    position: absolute;
    left: 40%;
}

.computer{
    width: 229px;
    height: 452px;
    top: +35%;
    z-index: 2;
    position: absolute;
    left: 44%;
}
.text-container {
    position: relative;
    font-family: pixelify sans;
    text-align: center;
    margin-top: 10%;
    z-index: 2; /* Ensure text is above the circle */
    font-size: 25px;
    color: white;
}

    