<div class="menu-page">
    <div class="menu" id="firstLayer">
      <img class="background" src="../../assets/menu/background.svg">
    </div>
    <img class="red-rec" src="../../assets/element/rectangle_red.svg">
    <div>
      <a routerLink="/menu">Go to Menu</a>
    </div>
    <img class="computer" src="../../assets/element/computer_intro2.svg">
  </div>
  
  <div class="text-container">
    <p class="first-row ">Fix all crashes on data  panels to prevent the </p>
    <p class="second-row"> <b>Y2K crash</b></p>
</div>